@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
:root {
  --bg-color: #bbbbb5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./1.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Raleway", sans-serif;
}
/* header */
header {
  margin-top: 50px;
  margin-bottom: 30px;
  margin: 50px 20px 50px 20px;
  text-align: center;
  color: #1f1e1ee5;
  border: 1px solid #1f1e1ee5;
  border-radius: 10px;
  padding: 10px;
  /* box-shadow: 5px 5px 15px rgb(50, 46, 46); */
}
hr {
  width: 90%;
  margin: 0 auto;
}
header h1,
header p {
  font-size: 30px;
  font-weight: 900;
}
header p {
  margin-top: 20px;
  display: inline-block;
  /* border-bottom: 1px solid; */
  font-weight: 600;
}
/* end header */

/* section */
section {
  margin: 50px 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
section h2 {
  font-size: 20px;
  text-transform: uppercase;
}
.prayers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
.prayer {
  background-color: #5c4d4d;
  color: #fff;
  text-align: center;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  flex: 1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0);
}
.prayer h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.prayer h4 {
  font-size: 20px;
  margin-top: 10px;
}
/* end section */

/* cities */
.cities {
  text-align: center;
}
.cities select {
  width: 90%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
/* end cities */

/* footer */
footer {
  color: #ffffff;
  margin-top: 200px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
}
footer a {
  color: #ffffff;
}
a:hover {
  color: #5c4d4d;
}
/* end footer */

/* media screen */
@media screen and (max-width: 650px) {
  /* header */
  header {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  header h1,
  header p {
    font-size: 25px;
  }
  /* end header */

  /* section */
  section {
    width: 90%;
    margin: 20px auto;
  }
  .prayers {
    flex-direction: column;
  }
  .prayer {
    width: 50%;
  }
  .prayer h2,
  .prayer h4 {
    font-size: 18px;
  }
  /* end section */

  /* cities */
  .cities select {
    width: 90%;
    padding: 10px;
  }
  /* end cities */

  /* footer */
  footer {
    font-size: 12px;
    margin-top: 80px;
  }
  /* end footer */
}
